<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon color="white" class="acitve" size="large" name="chevron-back"></ion-icon>
    </ion-buttons>
    <ion-title color="white">chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="other">
      <div class="item1">
        <img src="../../assets/chat/man.png" alt="man">
      </div>
      <div class="item2">
        <div class="txt_left">
          하하 안녕하세요
          반갑습니다. <br> 저의 이름은 최대건 입니다. 새롭게 일하게 되서 영광입니다.
          새롭게 일하게 되서 영광입니다.
        </div>
      </div>
    </div>

    <div class="me">
      <div class="item2">
        <div class="txt_left">
          하하
        </div>
      </div>
      <div class="item1">
        <img src="../../assets/chat/woman.png" alt="woman">
      </div>
    </div>

    <div class="other">
      <div class="item1">
        <img src="../../assets/chat/man.png" alt="man">
      </div>
      <div class="item2">
        <div class="txt_left">
          하하하
        </div>
      </div>
    </div>

    <div class="me">
      <div class="item2">
        <div class="txt_left">
          하하 안녕하세요 <br>
          반갑습니다. 저의 이름은 최대건 입니다. 새롭게 일하게 되서 영광입니다.
          새롭게 일하게 되서 영광입니다.
        </div>
      </div>
      <div class="item1">
        <img src="../../assets/chat/woman.png" alt="woman">
      </div>
    </div>

    <div class="me">
      <div class="item2">
        <div class="txt_left">
          하하
        </div>
      </div>
      <div class="item1">
        <img src="../../assets/chat/woman.png" alt="woman">
      </div>
    </div>

    <div class="other">
      <div class="item1">
        <img src="../../assets/chat/man.png" alt="man">
      </div>
      <div class="item2">
        <div class="txt_left">
          하하하
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center no-padding>
      <ion-col size="10">
        <textarea autosize maxRows="4" [(ngModel)]="newMsg" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" class="msg-btn">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>