.scroll{
    overflow-y: scroll;
    height: 600px;
}
.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
    font-size: small;
}

.other-message{
 background: var(--ion-color-tertiary);
 color: #fff;
}

.my-message{
    background: var(--ion-color-secondary);
    color: #fff;
}
