<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon class="acitve" size="large" name="chevron-back"></ion-icon>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="other">
      <div class="item1">
        <img src="../../assets/chat/man.png" alt="man">
      </div>
      <div class="item2">
        <div class="txt_left">
          하하 안녕하세요
          반갑습니다. <br> 저의 이름은 최대건 입니다. 새롭게 일하게 되서 영광입니다.
          새롭게 일하게 되서 영광입니다.
        </div>
      </div>
    </div>

    <div class="me">
      <div class="item2">
        <div class="txt_left">
          하하
        </div>
      </div>
      <div class="item1">
        <img src="../../assets/chat/woman.png" alt="woman">
      </div>
    </div>

    <div class="other">
      <div class="item1">
        <img src="../../assets/chat/man.png" alt="man">
      </div>
      <div class="item2">
        <div class="txt_left">
          하하하
        </div>
      </div>
    </div>

    <div class="me">
      <div class="item2">
        <div class="txt_left">
          하하 안녕하세요 <br>
          반갑습니다. 저의 이름은 최대건 입니다. 새롭게 일하게 되서 영광입니다.
          새롭게 일하게 되서 영광입니다.
        </div>
      </div>
      <div class="item1">
        <img src="../../assets/chat/woman.png" alt="woman">
      </div>
    </div>

    <div class="me">
      <div class="item2">
        <div class="txt_left">
          하하
        </div>
      </div>
      <div class="item1">
        <img src="../../assets/chat/woman.png" alt="woman">
      </div>
    </div>

    <div class="other">
      <div class="item1">
        <img src="../../assets/chat/man.png" alt="man">
      </div>
      <div class="item2">
        <div class="txt_left">
          하하하
        </div>
      </div>
    </div>
  </div>
</ion-content>
