<ion-content>
  <div class="content">
    <div class="title">
      <fa-icon class="home" icon="home"></fa-icon>
      USER LOGIN
    </div>

    <div class="login_box">
      <div class="item item1">
        <fa-icon class="login_icon" icon="user"></fa-icon>
        <input 
               type="text" 
               id="id" 
               class="inputbox"
               [(ngModel)]="loginGroup.userId">     
      </div>
      <div class="item item2">
        <fa-icon class="login_icon" icon="lock"></fa-icon>
        <input 
          type="password" 
          id="password" 
          class="inputbox" 
          name="password"
          [(ngModel)]="loginGroup.password">
      </div>
    </div>
    

    <div class="btn_boxs">
      <button class="btn_box login_btn" (click)="login()">LOGIN</button>
      <button class="btn_box sign_btn">회원가입123</button>
      <button class="btn_box kakao_login">
        <fa-icon icon="comment"></fa-icon>
        카카오 로그인
      </button>
      
      <button class="btn_box facebook_login">
        <!-- <i class="fa-brands fa-facebook"></i> -->
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        페이스북 로그인
     </button>
    </div>
  </div>
</ion-content>
