<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let item of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item  routerDirection="forward" (click)="clickItem(item.url)">
            <ion-icon [name]="item.icon" slot="start">
            </ion-icon>
            {{ item.title }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
