.toolbar{
    min-width: 100%;
    height: 56px;

    .back-button{
        float: left;
        ion-back-button{
            height: 56px;
        }
    }

    .shop{
        float: right;
        margin-right: 20px;
        height: 56px;

        .title{
            float: left;
            margin-right: 70%;
        }


        .shop-info{
            float: right;
        }
    }
}